github-copilot/
oh-my-zsh/.zhistory
oh-my-zsh/plugins/zsh-autosuggestions/
oh-my-zsh/plugins/zsh-syntax-highlighting/
tmux/plugins/tmp/
tmux/plugins/tpm/
tmux/plugins/**/
.zsh_history
.zhistory
tmux-client-40660.log
.DS_Store
lazy-lock.json
nvim/lazy-lock.json
