github-copilot/
oh-my-zsh/.zhistory
oh-my-zsh/plugins/zsh-autosuggestions/
oh-my-zsh/plugins/zsh-syntax-highlighting/
tmux/plugins/tmp/
tmux/plugins/tpm/
tmux/plugins/**/
.zsh_history
.zhistory
tmux-client-40660.log
.DS_Store
lazy-lock.json
nvim/lazy-lock.json
oh-my-zsh/.zcompdump-George’s MacBook Pro-5.9
oh-my-zsh/.zcompdump-George’s MacBook Pro-5.9.Georges-MacBook-Pro.local.18107
oh-my-zsh/.zcompdump-George’s MacBook Pro-5.9
